@import "_mixins/font-face"

+font-face("roboto-example", "../fonts/RobotoRegular/RobotoRegular")
+font-face("roboto-example", "../fonts/RobotoBold/RobotoBold", bold)
+font-face("roboto-light", "../fonts/RobotoLight/RobotoLight", bold)


@font-face
  font-family: SansRoundedBold
  src: url("../fonts/SansRounded/sansRoundedBold.otf") format("opentype")

@font-face
  font-family: RobotoLight
  src: url("../fonts/RobotoLight/Roboto-Light.ttf") format("truetype")