@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 912px)
    .big_nav
      display: none
    .small_nav
      display: none
    .small-menu
      width: 100%
      display: flex !important

      .small-menu_main
        list-style: none
        display: flex
        justify-content: space-between
      .small-menu_sandwich
        list-style: none
        margin: 0
        padding: 8px
        display: flex
        align-items: center


    .navbar-right
      display: none
    .container-nav
      width: 100%
      display: flex
      flex-direction: row-reverse

    .mobile_menu
      align-items: center
      ul
        background-color: #dedede
        padding: 10px 0px
        margin: 0
        list-style: none

      .mobile_menu_top
        display: flex
        justify-content: center

      .mobile_menu_main
        padding: 0
        display: flex
        flex-direction: column
        li
          padding: 10px 0
          border-top: 1px solid #ded
          padding-left: 10%



@media only screen and (max-width: 1055px)
  #navbar
    ul.main-nav
      li
        a
          font-size: 0.8em !important
          margin-right: 3px

    ul.navbar-right
      li.phone
        font-size: 1.4em
      a.dropdown-toggle
        padding-right: 15px



@media only screen and (max-width: 1200px)
  #navbar
    ul.main-nav
      padding-top: 30px
      li
        a
          padding: 15px 5px


@media only screen and (max-width: 1250px)
  .small_nav
    display: none
  .small-menu
    display: none


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .slider-carousel
    .slick-track
      width: 50000px !important
    .slick-slide
      //width: 400px !important
      outline: none
      margin: 0 10px
    .slick-next:before
      padding: 46px 0 32px 100px
    .slick-slide:after
      width: 100%



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .slider-carousel
    .slick-slide
      //width: 300px !important
      outline: none
      margin: 0 10px
      .slide_description
        margin-top: 0
    .slick-next:before
      padding: 42px 0 35px 20px !important
      font-size: 50px
    .slick-slide:after
      width: 100%
    .slick-next
      right: 50px !important
      top: 41% !important



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px)
  .small_nav
    display: none
  .small-menu
    display: none
  .slider-carousel
    .slick-track
      width: 50000px !important
    .slick-slide
      //width: 600px !important
      outline: none
    .slick-next:before
      padding: 88px 0 77px 100px


@media only screen and (max-width : 992px)
  .slider-carousel
    .slick-track
      width: 50000px !important
    .slick-slide
      //width: 430px
      outline: none
      margin: 0 10px
    .slick-next:before
      padding: 46px 0 32px 100px
    .slick-slide:after
      width: 100%

    .slide_description
      position: absolute
      max-width: 60%
      left: 25px
      top: 8px
      z-index: 999
      h2
        font-size: 1em
        margin-top: 3%
      p
        padding-top: 0
        padding-bottom: 0
    .slick-next
      right: 162px
      top: 31%

