@import "fonts"
@import "libs"
@import "vars"


*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

h1
  font-family: SansRoundedBold
  color: #5e3f8a

.red
  color: red


#navbar
  position: relative

#panel
  padding-top: 120px

.slideout-menu
  position: fixed
  top: 0
  bottom: 0
  width: 256px
  min-height: 100vh
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  z-index: 0
  display: none
  background-color: #ECECEF

.slideout-menu-left
  left: 0

.slideout-menu-right
  right: 0

.slideout-panel
  position: relative
  z-index: 1
  will-change: transform
  background-color: #FFF
  /* A background-color is required */
  min-height: 100vh

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
  overflow: hidden

.slideout-open .slideout-menu
  display: block

body
  width: 100%
  height: 100%
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  opacity: 1

.img-responsive
  display: block
  max-width: 100%
  height: auto

a.navbar-brand
  display: inline-table
  padding: 7px 15px 0px 0px

.navbar-default
  background: #fff
  border-bottom: 1px solid red

.container-nav
  margin: 0 auto
  width: 95%

#navbar
  ul.nav
    padding-top: 1.3em
    position: initial
    span.account
      position: absolute
      top: 0
      left: 14px
      a
        color: #000
        font-size: 1em
        background: none
        i.fa
          font-size: 1em
          padding-right: 3px

  ul.main-nav

    li
      padding-top: 16px
      position: initial

      .sub_menu
        padding: 1px
        border-bottom-left-radius: 10px
        border: 1px solid red
        border-bottom-right-radius: 10px
        box-shadow: 0px 24px 40px 0px rgba(255, 179, 145, 1)
        display: none
        position: absolute
        z-index: 1
        background: #fff
        left: 22px
        width: 99%
        ul
          list-style: none
          li
            padding-top: 5px
            a
              text-decoration: none

        ul.sub_menu__main
          padding-left: 10px
          li
            border-right: 1px solid #5e3f8a
            padding-right: 30px
            a
              color: #adac9c
              background: #fff
              &:hover
                color: #5e3f8a !important
                background: #fff
        ul.sub_menu__sub_main
          li
            a
              background: #fff
              //color: #000
              display: inline
              padding-right: 20px
              &:hover
                color: #5e3f8a !important
            span
              background: #00C766
              border-radius: 10px
              padding: 0 11px
        .sub_menu__slider
          max-width: 490px
          padding: 30px
          .menu_slider
            div
              img
                width: 100%
            .slick-dots
              color: #dedede



      a
        color: #000
        font-size: 1em
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        &:hover
          background-color: red
          border-top-left-radius: 10px
          border-top-right-radius: 10px
          color: #fff
        img
          padding-right: 8px

      &:hover > div.sub_menu
        display: flex



  ul.navbar-right
    position: relative
    padding-top: 0.6em
    padding-bottom: 1.4em

    a
      padding: 0
      padding-bottom: 15px
      padding-top: 3px

    a.dropdown-toggle
      display: -webkit-flex
      display: -ms-flex
      display: flex
      align-items: center
      padding-right: 45px

    i.fa
      font-size: 1.6em
      padding-right: 5px

    button.call_btn
      position: absolute
      bottom: -13px
      left: 4px
      border-radius: 50px
      width: 93%
      padding: 6px
      width: 100%
      background-color: #00C766
      color: #fff

    .phone
      font-size: 1.6em
      a
        color: red
        i.fa
          font-size: 1em
          padding: 0

.width-container
  width: 92%
  margin: 0 auto
  position: relative

.slider-carousel
  .slick-dots
    text-align: left
    li
      button:before
        font-size: 15px
        color: #5e3f8a

  .slide_inner
    position: relative
    margin: 0 10px
    width: 500px !important
  img
    border-radius: 20px
    max-width: 100%
  .slick-prev:before
    display: none
  .slick-next
    right: 162px
    top: 37%
  .slick-next:before, .slick-prev:before
    opacity: 0.95
    color: #dedede
    font-size: 100px
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 32%)
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 32%)
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 32%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1)
  .slide_description
    h2
      font-size: 1.4em
      font-family: SansRoundedBold
      color: #5e3f8a

    position: absolute
    max-width: 60%
    left: 25px
    top: 8px
    z-index: 999
    p
      padding-top: 16px
      padding-bottom: 65px
      line-height: 1.3
    span
      font-family: RobotoLight
      font-size: 0.9em
      img
        display: inline-block
        padding-right: 8px

  .slick-slide:after
    width: 100%
    border: 1px solid black
    border-radius: 20px
    content: ''
    position: absolute
    top: 0
    right: 30px
    bottom: 0
    left: 0
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 0.58) 79%, rgba(255, 255, 255, 0.19) 93%, rgba(255, 255, 255, 0) 100%)
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 0.58) 79%, rgba(255, 255, 255, 0.19) 93%, rgba(255, 255, 255, 0) 100%)
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 0.58) 79%, rgba(255, 255, 255, 0.19) 93%, rgba(255, 255, 255, 0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1)

.item
  display: flex
  border: 1px solid #dedede
  div
    display: flex
  .item_age
    border-right: 1px solid #dedede
    padding: 0 10px
    align-items: center
    color: red
  .item_info
    padding-left: 1%
    flex-direction: column
    p
      line-height: 1.3
    a
      h2
        font-family: SansRoundedBold
        color: #5e3f8a

.sub_item
  display: flex
  flex-wrap: wrap
  .sub_item__subject
    width: 25%
    height: 170px
    background: url('http://via.placeholder.com/350x170')
    background-size: cover

    padding: 1px
    border: 1px solid red

.posters
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .poster
    position: relative
    padding-top: 5px
    .poster_description
      position: absolute
      bottom: 10px
      width: 100%
      text-align: center
      p
        font-size: 1.2em
        font-family: SansRoundedBold
        color: red
    a
      overflow: hidden
      border-radius: 10px
      display: block
      &:hover
        -webkit-box-shadow: 0px 24px 40px 0px rgba(255, 179, 145, 1)
        -moz-box-shadow: 0px 24px 40px 0px rgba(255, 179, 145, 1)
        box-shadow: 0px 24px 40px 0px rgba(255, 179, 145, 1)

.blog
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .blog_post
    padding-top: 30px
    display: flex
    flex-direction: column
    max-width: 302px
    border-bottom: 2px solid red
    position: relative
    padding-bottom: 20px
    .blog_post_header
      border: 1px solid red
      border-radius: 10px
      overflow: hidden
      .blog_post_date
        display: flex
        justify-content: space-between
        padding: 0 3%
    .blog_post_info
      padding: 0 6.3%
      .blog_post_title
        font-size: 1.3em
    .full_post_button
      padding: 5px 39px
      background: red
      color: #fff
      border-radius: 12px
      max-width: 60%
      align-self: center
      position: absolute
      bottom: -20px

.about
  display: flex
  padding-top: 4%
  .about_photo
    .about_photo_row
      display: flex

      .about_photo_item
        display: flex
        flex-wrap: wrap
        min-width: 150px
        min-height: 150px
  .about_info
    padding: 0 3%

.social_block
  margin-top: 50px
  padding-bottom: 20px
  .social_block_header
    display: flex
    h1
      margin-top: 0

ul.social
  display: flex
  list-style: none
  li
    margin-left: 20px
    a
      img
        border-radius: 50px

ul.photo_section
  margin: 0
  list-style: none
  width: 1800px
  overflow-y: hidden
  overflow-x: scroll
  height: auto
  padding: 3px
  li
    display: inline-block

.question_block
  display: flex
  flex-direction: column
  align-items: center
  form
    border: 1px solid #dedede
    border-radius: 30px
    display: flex
    justify-content: space-between
    width: 33%
    padding-left: 1%
    input[type="text"]
      border: none
      outline: 0
    input[type="submit"]
      background: red
      border: none
      color: #fff
      border-radius: 30px
      padding: 0.2% 12%








.footer
  margin-top: 50px
  width: 100%
  border-top: 1px solid #723670
  .footer_main
    display: flex
    justify-content: space-between
    align-items: center
    .footer_main_menu
      display: flex
      ul
        list-style: none
        display: flex
        align-items: center
        margin: 0
        padding-left: 20px
        li
          display: flex
          justify-content: space-between
          margin: 0 12px
          a
            display: flex
            text-decoration: none
            flex-direction: column
            align-items: center
    .footer_main_contacts
      ul
        display: flex
        list-style: none
        justify-content: space-between
        padding: 0
        align-items: center
        li.phone
          padding-right: 3rem
          a
            color: #575757
            text-decoration: none

          a
            font-size: 1.3em
        li
          button
            border-radius: 50px
            background-color: #00C766
            color: #fff
  .footer_second_info
    display: flex
    justify-content: space-between
    p.full_name
      width: 25%
      padding-right: 4rem
    p.footer_requisites
      flex-grow: 1
  .footer_bottom
    color: #fff
    display: flex
    justify-content: space-between
    align-items: center
    p
      font-size: small
    p.big_text_footer
      font-size: x-small
      width: 50%
  .bottom_footer
    padding: 10px 0
    background-color: #5e3f8a



@import "media"
// Всегда в конце




